{% load static %}
<!-- Navigation -->
<header>
    <nav>
        <a href="{% url 'chatbot:home' %}" class="logo">
            <div class="logo-icon">
                <img src="{% static 'images/cookie_3.png' %}" width="60" alt="PaperSnack Logo">
            </div>
            PaperSnack
        </a>
        <ul class="nav-menu">
            <li><a href="{% url 'chatbot:home' %}" {% if request.resolver_match.url_name == 'home' %}class="active"{% endif %}>Home</a></li>
            <li><a href="{% url 'chatbot:services' %}" {% if request.resolver_match.url_name == 'services' %}class="active"{% endif %}>Services</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'chatbot:chatbot' %}" {% if request.resolver_match.url_name == 'chatbot' %}class="active"{% endif %}>Chatbot</a></li>
                <li><a href="{% url 'chatbot:profile' %}" {% if request.resolver_match.url_name == 'profile' %}class="active"{% endif %}>Profile</a></li>
                <li><a href="{% url 'chatbot:logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'chatbot:login' %}" {% if request.resolver_match.url_name == 'login' %}class="active"{% endif %}>Sign In</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
